[maxscale]
threads=###threads###

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=###server_line###
user=mariadbmon
password=mariadbmon

[RW-Split-Router]
type=service
router=readwritesplit
servers=###server_line###
user=maxservice
password=maxservice

[RW-Split-Listener]
type=listener
service=RW-Split-Router
port=4006
ssl=true
###mxs_cert_files###

[server1]
type=server
address=node000
port=###node_server_port_1###
ssl=true
###mxs_cert_files###
ssl_verify_peer_certificate=true
ssl_verify_peer_host=true

[server2]
type=server
address=node001
port=###node_server_port_2###
ssl=true
###mxs_cert_files###
ssl_verify_peer_certificate=true
ssl_verify_peer_host=true

[server3]
type=server
address=node002
port=###node_server_port_3###
ssl=true
###mxs_cert_files###
ssl_verify_peer_certificate=true
ssl_verify_peer_host=true

[server4]
type=server
address=node003
port=###node_server_port_4###
ssl=true
###mxs_cert_files###
ssl_verify_peer_certificate=true
ssl_verify_peer_host=true
